.logo{
  padding:2rem;
}
i{
  color: #ffc40c;
}
.row{
  padding:2rem;
}
.col-md-6 h2{
  padding:2rem 4rem;
  text-align: center;
  font-family: 'Lobster two',cursive;
  font-size: 400%
}
.text{
  padding:3rem 12.5rem 2rem 3rem;
  font-family: 'Raleway',sans-serif;
  

}
#image{
  padding:10px 10px 10px 4rem;
}
#grid{
  padding:2rem 5rem 2rem 10px;
}
.grids{
  background-color: #ffc40c;
  width:250px;
  height:145px;
  padding:22px;
  font-size:15px;
  box-shadow: 2px 2px 10px 3px #dedede;
  font-family: 'Raleway',sans-serif;
  border-radius:10%;

}
.grid-1{

  float:left;
  margin:0 5px 5px 0;

}

.grid-2{

  float:right;
  margin:0 8.5rem 5px 0;

}
.grid-3{

  float:left;
  margin:0 5px 5px 0;

}
.grid-4{

  float:right;
  margin:0 8.5rem 0 0;

}
h4{
  font-family: 'Lobster two',cursive;
  font-weight: bolder;
}
